// // var filter = {
// //   countTime:function(){
// //     var totalSecond = 1526306492 - 1526264588;
    

// //     // var interval = setInterval(function(){
// //     //   totalSecond++
// //     // },1000)


// //     // setTimeout(console.log(111111),1000)
// //     return totalSecond;
// //     // var interval = setInterval(function () {
// //     //   // 秒数  
// //     //   var second = totalSecond;

// //     //   // 天数位  
// //     //   var day = Math.floor(second / 3600 / 24);
// //     //   var dayStr = day.toString();
// //     //   if (dayStr.length == 1) dayStr = '0' + dayStr;

// //     //   // 小时位  
// //     //   var hr = Math.floor((second - day * 3600 * 24) / 3600);
// //     //   var hrStr = hr.toString();
// //     //   if (hrStr.length == 1) hrStr = '0' + hrStr;

// //     //   // 分钟位  
// //     //   var min = Math.floor((second - day * 3600 * 24 - hr * 3600) / 60);
// //     //   var minStr = min.toString();
// //     //   if (minStr.length == 1) minStr = '0' + minStr;

// //     //   // 秒位  
// //     //   var sec = second - day * 3600 * 24 - hr * 3600 - min * 60;
// //     //   var secStr = sec.toString();
// //     //   if (secStr.length == 1) secStr = '0' + secStr;

// //     //   // this.setData({
// //     //   //   countDownDay: dayStr,
// //     //   //   countDownHour: hrStr,
// //     //   //   countDownMinute: minStr,
// //     //   //   countDownSecond: secStr,
// //     //   // });
      
// //     //   totalSecond--;
// //     //   if (totalSecond < 0) {
// //     //     clearInterval(interval);
// //     //     wx.showToast({
// //     //       title: '活动已结束',
// //     //     });
// //     //     // this.setData({
// //     //     //   countDownDay: '00',
// //     //     //   countDownHour: '00',
// //     //     //   countDownMinute: '00',
// //     //     //   countDownSecond: '00',
// //     //     // });
// //     //   }
// //     //   return secStr
// //     // }, 1000);
// //   }
// // }
// var secStr =0;
// var countTime= function(){

//        var interval = setInterval(function () {
//       // 秒数  
//       var second = totalSecond;

//       // 天数位  
//       var day = Math.floor(second / 3600 / 24);
//       var dayStr = day.toString();
//       if (dayStr.length == 1) dayStr = '0' + dayStr;

//       // 小时位  
//       var hr = Math.floor((second - day * 3600 * 24) / 3600);
//       var hrStr = hr.toString();
//       if (hrStr.length == 1) hrStr = '0' + hrStr;

//       // 分钟位  
//       var min = Math.floor((second - day * 3600 * 24 - hr * 3600) / 60);
//       var minStr = min.toString();
//       if (minStr.length == 1) minStr = '0' + minStr;

//       // 秒位  
//       var sec = second - day * 3600 * 24 - hr * 3600 - min * 60;
//       var secStr = sec.toString();
//       if (secStr.length == 1) secStr = '0' + secStr;

//       // this.setData({
//       //   countDownDay: dayStr,
//       //   countDownHour: hrStr,
//       //   countDownMinute: minStr,
//       //   countDownSecond: secStr,
//       // });

//       this.secStr = secStr;

//       totalSecond--;
//       if (totalSecond < 0) {
//         clearInterval(interval);
//         wx.showToast({
//           title: '活动已结束',
//         });
//         // this.setData({
//         //   countDownDay: '00',
//         //   countDownHour: '00',
//         //   countDownMinute: '00',
//         //   countDownSecond: '00',
//         // });
//       }
//     }, 1000);
// }
// module.exports = {
//   countTime: secStr
// }

function nowTime() {//时间函数  
  // console.log(a)  
  for (var i = 0; i < len; i++) {
    var intDiff = dates.datetime[i].dat;//获取数据中的时间戳  
    // console.log(intDiff)  
    var day = 0, hour = 0, minute = 0, second = 0;
    if (intDiff > 0) {//转换时间  
      day = Math.floor(intDiff / (60 * 60 * 24));
      hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
      minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
      second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
      if (hour <= 9) hour = '0' + hour;
      if (minute <= 9) minute = '0' + minute;
      if (second <= 9) second = '0' + second;
      dates.datetime[i].dat--;
      var str = hour + ':' + minute + ':' + second
      // console.log(str)      
    } else {
      var str = "已结束！";
      clearInterval(timer);
    }
    // console.log(str);  
    dates.datetime[i].difftime = str;//在数据中添加difftime参数名，把时间放进去  
  }
  that.setData({
    wearList: dates
  })
  // console.log(that)  
}
